#***********************************************************#
#                   MALT Config File                        #
#***********************************************************#

##---------------------------------------------------------##
#               Parameters for interpolation                #
[INTERPOLATOR]
#Options: True or False
interpolate = False
#Must be function from interpolator.py
interp_func = get_gp
#Options: 'rand', 'start', or any float
ini_t = 'rand'
#Time in days
obs_time = 0.3333333333333333
#Integer
sample_size = 100


##---------------------------------------------------------##
#             Parameters for machine learning               #
[ML]
#Must be function from feature_extraction.py
feat_ex_method = get_wavelet_feature
#Must be function from machine_learning.py
ml_method = RFclassifier
#Must be a dictionary
hyperparams = {"n_estimators": np.arange(70,90),"criterion": ["gini", "entropy"]}
#Integer
n_jobs= 7
#Options: True or False
pca = True
#Integer
n_components = 20
